*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(13, 0, 69);
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width:165px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    object-fit: cover; 
   cursor: pointer;

}


img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 5rem;
gap: 6rem;
}
#user-score,
#comp-score{
    font: 4rem;
}
.msg-container{
    margin-top: 5rem;
}

#msg{
   margin-top: 4rem;
    background-color: rgb(2, 2, 58);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: .5rem;
    border-radius: 1rem;
    

}
#mode{margin-top: .3%;
    margin-left: 80%;
    background-color: rgb(52, 126, 237);
    color: white;
    border-radius: .5rem;
    border-color: #3f63c3;
    display: flex;
    justify-content: center;
   align-content: center;

}
 #mode:hover{
    background-color: #0e4bf1;

}